description = "Carousel Owl Section"

[viewBag]
==
<div class="owlcarousel-area">
    <div class="owl-carousel owl-theme" id="owl-carousel">
        {% for fields in data.section_carouselowl %}
            <div class="item">
                {% if fields.section_carouselowl_type == 'owlimage' %}
                    <img src="{{ fields.section_carouselowl_type_image | media }}" alt="{{ fields.section_carouselowl_title }}">
                {% elseif fields.section_carouselowl_type == 'owlvideo' %}
                    <video width="800" height="600" controls>
                        <source src="{{ fields.section_carouselowl_type_video | media }}" type="video/mp4">
                    </video>
                {% endif %}
                <div class="owlcarousel-caption">
                    <p class="owlcarousel-label">{{ fields.section_carouselowl_label }}</p>
                    <h1 class="owlcarousel-title">{{ fields.section_carouselowl_title }}</h1>
                    <p class="owlcarousel-subtitle">{{ fields.section_carouselowl_subtitle }}</p>
                        {% if fields.section_carouselowl_buttons %}
                            <div class="owlcarousel-cta">
                                {% for button in fields.section_carouselowl_buttons %}
                                    <a href="{{ button.section_carouselowl_button_url }}" class="btn {{ loop.index == 1 ? 'btn-primary' : 'btn-outline-light' }}">{{ button.section_carouselowl_button_text }}</a>
                                {% endfor %}
                            </div>
                        {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>