description = "Default Layout"

==
<!DOCTYPE html>
<html lang="{{ this.theme.site_locale }}">
    <head>
		<!--Meta Data -->
        {% partial "site/meta" %}
		<!--Css -->
        {% partial "site/css" %}
		
    </head><!--/#head-->
    <body class="page-{{ this.page.id }} layout-{{ this.page.layout }}">
    
        <!--Google Analytics -->
        {{ this.theme.google_analytics|raw }}

        <header id="header-wrap" class="header">
            {% partial "site/demo-banner" %}
            {% partial "site/top" %}
            {% partial "site/nav" %}
        </header><!--/#header-->
    
        {% page %}

        <footer>
        	{% partial "site/footer" %}
        </footer><!--/#footer-->
    
        <!-- Copyright -->
        {% partial "site/copyright" %}
    
        <!-- Scroll to top -->
        {% partial "site/scrolltop" %}

        <!-- Scripts -->
        {% partial "site/scripts" %}

</body><!--/#body-->
</html>